services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=movie_play_db'
      - 'POSTGRES_PASSWORD=password'
      - 'POSTGRES_USER=psantana'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres
volumes:
  pgdata: